services:
  - type: web
    name: goldbird-django
    env: python
    plan: free
    buildCommand: bash build.sh
    startCommand: gunicorn matrimonial_website.wsgi:application --log-file -
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
      - key: CSRF_TRUSTED_ORIGINS
        value: "https://*.onrender.com"
